<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
</head>
<body>
    <nav>
        <h1 class="ui header" style="text-align: center;">Regular blogs</h1><hr>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Blogs">Blogs</a></li>
        </ul>
    </nav>
    <hr>
    {% for blog in blog_new %}
    <div class="ui segment">
        <img src="{{ blog.Image_link }}" alt="image">
        <a class="ui blue button" href="/inv/{{ blog.id }}"><p class="ui big header">{{ blog.Title }}</p></a>
        <form action="{{ url_for('delete', blogs_id=blog.id) }}" method="POST">
            <button class="ui red button" type="submit">Delete</button>
        </form>
        

    </div>
    {% endfor %}
</body>
</html>
