<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blog_new.Title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
    <h1 class="ui header" style="text-align: center;">{{ blog_new.Title }}</h1>
    <hr>
    <div class="ui segment">
        <img src="{{ blog_new.Image_link }}" alt="image">
        <p class="ui big header">{{ blog_new.Text }}</p>
    </div>
</body>
</html>